<h1>Editing task</h1>

<%= render 'form' %>

<%= link_to 'Show', milestone_task_path(@milestone,@task,:project_id=>@project.id) %> |
<%= link_to 'Back', milestone_tasks_path(@milestone,:project_id=>@project.id) %>
